<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                </div>*@
            <div class="navbar-colapse">
                @*<div class="row">*@
                <fieldset>
                    <legend>Observed period</legend>
                    <div class="col-lg-6">
                        <input type="checkbox" id="autorefresh" onchange="AutoRefresh()" />
                        <label for="autorefresh">Enable autorefresh</label>
                        <div class="pull-right">
                            <label for="startPerion">Start time</label>
                            @(Html.Kendo()
                                .DateTimePicker()
                                .Name("startPeriod")
                                .Value(DateTime.Now.AddHours(-1))
                                .Culture(System.Threading.Thread.CurrentThread.CurrentCulture.Name)
                            )
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="endPeriod">End time</label>

                        @(Html.Kendo()
                                  .DateTimePicker()
                                  .Name("endPeriod")
                                  .Value(DateTime.Now)
                                  .Culture(System.Threading.Thread.CurrentThread.CurrentCulture.Name)
                        )
                        <button class="btn btn-primary pull-right" onclick="RefreshCharts()">Apply Filter</button>
                    </div>
                </fieldset>
                @* </div> *@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Business Management Systems Ltd.</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
