<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/Custom")
</head>
<body>

    <div class="row">
        <div class="col-lg-2">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="~/Home/Index">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="~/Administration/User">Users Administration</a>
                    </li>
                    <li>
                        <a href="~/Administration/Role">Roles Administration</a>
                    </li>
                    <li>
                        <a href="~/PowerUser/Observer">Observed Administration</a>
                    </li>
                </ul>
                <div class="sidebar-nav sidebar-nav-top">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>


    <div id="content" class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Business Management Systems Ltd.</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
