@using WeightScale.WorkstationsChecker.Web.Models;

@model IEnumerable<WeightScaleWorkStationViewModel>
@{
    ViewBag.Title = "Ping statistics";
}
<script>
    var additionalData = [];

    kendo.culture("@System.Threading.Thread.CurrentThread.CurrentCulture.Name");
</script>
<style>

</style>

@{
    var colors = new string[]
    {
        "lightblue",
        "lightgreen",
        "#fbec96",
        "lightpink"
    };
    int i = 0;
}

<div id="nav-wrapper" class="well">
    <div id="navcontainer">
        <div id="navbar">
            <h3>
                Observed period <span id="collapse-navbar" class="collapse k-icon k-i-arrowhead-n pull-right"></span>
            </h3>
            <fieldset id="period">
                <legend></legend>
                <div class="col-lg-6">
                    <div class="col-lg-4">
                        <input type="checkbox" id="autorefresh" onchange="AutoRefresh()" />
                        <label for="autorefresh">Enable autorefresh</label>
                        <div id="colapse-all"><span id="collapse-all" class="collapse k-icon k-i-arrowhead-n"></span><label for="collapse-all">Collapse all</label></div>
                    </div>
                    <div class="pull-right">
                        <label for="startPerion">Start time</label>
                        @(Html.Kendo()
                              .DateTimePicker()
                              .Name("startPeriod")
                              .Value(DateTime.Now.AddHours(-1))
                              .Culture(System.Threading.Thread.CurrentThread.CurrentCulture.Name)
                        )
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="endPeriod">End time</label>

                    @(Html.Kendo()
                          .DateTimePicker()
                          .Name("endPeriod")
                          .Value(DateTime.Now)
                          .Culture(System.Threading.Thread.CurrentThread.CurrentCulture.Name)
                    )
                    <button class="btn btn-primary pull-right" onclick="RefreshCharts()">Apply Filter</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div id="body-content" class="body-content">

    @foreach (var scale in Model)
    {
        <div class="widget">
            <h3>
                @("Statistics for ping " + scale.Address + " " + scale.Name) <span class="collapse k-icon k-i-arrowhead-n"></span>
            </h3>
            @*<div class="row">*@
            <div class="chart-wrapper">
                @(Html.Kendo()
                              .Chart<PingStatisticsViewModel>()
                              .Name("Statistics" + scale.Id)
                              .Events(ev => ev.DataBound("dataBind"))
                              .HtmlAttributes(new { @class = "charts", data_id = scale.Id })
                              .AutoBind(false)
                              .DataSource(ds => ds.Read(read => read.Action("GetStatistics", "Home").Data("additionalData(" + scale.Id + ")")))
                              .Series(series =>
                              {
                                  series.Area(model => model.RoundtripTime).Name("RoundtripTime").Color(colors[(i++ % 4)]);
                              })
                              .CategoryAxis(axis => axis
                                                        .Categories(model => model.TimeStamp)
                                                        .Date()
                                                        .BaseUnit(ChartAxisBaseUnit.Minutes)
                                                        .Labels(labels => labels.Rotation(-90))
                                                        .Justify()
                                                        .Crosshair(c => c.Visible(true)))
                              .ValueAxis(axis => axis.Numeric()
                                                     .Labels(labels => labels.Format("{0:N0}")))
                              .Tooltip(tooltip => tooltip
                                                        .Visible(true)
                                                        .Template("<strong>#= kendo.format('{0:dd.MM.yyyy HH:mm:ss}',category) #</strong><hr style='margin: 2px 0px'/> RoundtripTime: #= value # ms"))
                )

            </div>
        </div>
    }

</div>

@section scripts{
    <script src="~/Scripts/Custom/home_index.js"></script>
}

@section css{
    <link href="~/Content/custom/home-index.css" rel="stylesheet" />
}

